TESS_Docs/MOCPanelFlow.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "MOC Panel",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "Plot",
        "order": 3,
        "width": 25,
        "height": "14",
        "chartType": "line",
        "curveType": "step",
        "duration": "50",
        "ymin": "",
        "ymax": "",
        "x": 895,
        "y": 620,
        "wires": [],
        "l": false
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "TESS_OUT",
        "probeconfig": "d63e73e1.4a75c",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "TESS_IN",
        "probeconfig": "d63e73e1.4a75c",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "Motor Inputs",
        "accesspoint": 0,
        "execonfig": "93416441.9c8d98",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "Motor[0].MotorInputs.Current",
        "triggerthreshold": "30000",
        "frequency": "10000",
        "frequencyType": "custom",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1637665444675,
        "openStatus": true,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "559ff7df.1d8c18",
                "6013fb0b.5b7504"
            ],
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "topicType": "str",
        "x": 790,
        "y": 500,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "d510d513.6a0c68",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748",
                "c3d16b86.7cd678",
                "37b24d3c.3b0492"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "d510d513.6a0c68",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748",
                "c3d16b86.7cd678",
                "37b24d3c.3b0492"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "Motor Inputs",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "559ff7df.1d8c18",
        "type": "ui_write",
        "z": "7b9ed63e.2138f8",
        "group": "d510d513.6a0c68",
        "name": "writeVar",
        "order": 8,
        "width": 15,
        "height": "8",
        "x": 670,
        "y": 60,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "a9feefb7.f806",
        "type": "change",
        "z": "7b9ed63e.2138f8",
        "name": "set write",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "37b24d3c.3b0492",
        "type": "ui_dropdown",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "label": "Control Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "d510d513.6a0c68",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "StandBy",
                "value": "0",
                "type": "str"
            },
            {
                "label": "PWM",
                "value": "1",
                "type": "str"
            },
            {
                "label": "VoltageMode",
                "value": "2",
                "type": "str"
            },
            {
                "label": "CurrentControl",
                "value": "3",
                "type": "str"
            },
            {
                "label": "SpeedVoltageControl",
                "value": "4",
                "type": "str"
            },
            {
                "label": "SpeedControl",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f13194df.09c158"
            ]
        ]
    },
    {
        "id": "f13194df.09c158",
        "type": "template",
        "z": "7b9ed63e.2138f8",
        "name": "Request Mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\": [\n        {\n            \"address\": \"0x20000156\",\n            \"type\": 1,\n            \"value\": \"{{payload}}\"\n        }\n    ],\n    \"accesspoint\": 0\n}",
        "output": "json",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "a9feefb7.f806"
            ]
        ]
    },
    {
        "id": "c3d16b86.7cd678",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "Requests",
        "accesspoint": 0,
        "execonfig": "6068d580.7a48bc",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "Motor[0].Requests.PwmDtc",
        "triggerthreshold": "30000",
        "frequency": "5000",
        "frequencyType": "custom",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1637665276968,
        "openStatus": true,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "42d24a8b.5f63c4"
            ],
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "42d24a8b.5f63c4",
        "type": "ui_write",
        "z": "7b9ed63e.2138f8",
        "group": "d510d513.6a0c68",
        "name": "Request Commands",
        "order": 5,
        "width": 15,
        "height": 5,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Plot",
        "tab": "17d09b07.741a55",
        "order": 3,
        "disp": true,
        "width": "25",
        "collapse": false
    },
    {
        "id": "d63e73e1.4a75c",
        "type": "probe",
        "probeid": "0055002F3438510234313939",
        "probename": "ST-Link v3-E (...13939)",
        "protocol": "SWD",
        "frequency": "24000 kHz",
        "probeproperty": "{\"SWD\":[\"24000 kHz\",\"8000 kHz\",\"3300 kHz\",\"1000 kHz\",\"200 kHz\",\"50 kHz\",\"5 kHz\"],\"JTAG\":[\"21333 kHz\",\"16000 kHz\",\"12000 kHz\",\"8000 kHz\",\"1777 kHz\",\"750 kHz\"]}",
        "probeversion": "ST Link firmware version V3.J8",
        "connectionType": "p2p"
    },
    {
        "id": "93416441.9c8d98",
        "type": "exe-config",
        "name": "M1_InputsVar",
        "exefile": "/Users/axinteandrei/Lab/github/TESS/ProjectDevelopment/Debug/TESS.elf",
        "exefolder": "/Users/axinteandrei/Lab/github/TESS/ProjectDevelopment/Debug",
        "exevariablelist": [
            {
                "address": "0x200000c0",
                "name": "AdcBufferMap",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x0800a374",
                "name": "AHBPrescTable[0]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a37e",
                "name": "AHBPrescTable[10]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a37f",
                "name": "AHBPrescTable[11]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a380",
                "name": "AHBPrescTable[12]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a381",
                "name": "AHBPrescTable[13]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a382",
                "name": "AHBPrescTable[14]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a383",
                "name": "AHBPrescTable[15]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a375",
                "name": "AHBPrescTable[1]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a376",
                "name": "AHBPrescTable[2]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a377",
                "name": "AHBPrescTable[3]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a378",
                "name": "AHBPrescTable[4]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a379",
                "name": "AHBPrescTable[5]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a37a",
                "name": "AHBPrescTable[6]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a37b",
                "name": "AHBPrescTable[7]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a37c",
                "name": "AHBPrescTable[8]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a37d",
                "name": "AHBPrescTable[9]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a384",
                "name": "APBPrescTable[0]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a385",
                "name": "APBPrescTable[1]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a386",
                "name": "APBPrescTable[2]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a387",
                "name": "APBPrescTable[3]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a388",
                "name": "APBPrescTable[4]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a389",
                "name": "APBPrescTable[5]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a38a",
                "name": "APBPrescTable[6]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x0800a38b",
                "name": "APBPrescTable[7]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x20000254",
                "name": "hadc1.DMA_Handle",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000260",
                "name": "hadc1.ErrorCode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000204",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000021d",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000020c",
                "name": "hadc1.Init.DataAlign",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000224",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000238",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000218",
                "name": "hadc1.Init.EOCSelection",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000022c",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000230",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000210",
                "name": "hadc1.Init.GainCompensation",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000021c",
                "name": "hadc1.Init.LowPowerAutoWait",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000220",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000228",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000023c",
                "name": "hadc1.Init.Overrun",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000250",
                "name": "hadc1.Init.Oversampling.OversamplingStopReset",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000244",
                "name": "hadc1.Init.Oversampling.Ratio",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000248",
                "name": "hadc1.Init.Oversampling.RightBitShift",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000024c",
                "name": "hadc1.Init.Oversampling.TriggeredMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000240",
                "name": "hadc1.Init.OversamplingMode",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000208",
                "name": "hadc1.Init.Resolution",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000234",
                "name": "hadc1.Init.SamplingMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000214",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000268",
                "name": "hadc1.InjectionConfig.ChannelCount",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000264",
                "name": "hadc1.InjectionConfig.ContextQueue",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000200",
                "name": "hadc1.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000258",
                "name": "hadc1.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000025c",
                "name": "hadc1.State",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002b8",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002b4",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002bc",
                "name": "hdma_adc1.DMAmuxChannel",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002c0",
                "name": "hdma_adc1.DMAmuxChannelStatus",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002c4",
                "name": "hdma_adc1.DMAmuxChannelStatusMask",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002c8",
                "name": "hdma_adc1.DMAmuxRequestGen",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002cc",
                "name": "hdma_adc1.DMAmuxRequestGenStatus",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002d0",
                "name": "hdma_adc1.DMAmuxRequestGenStatusMask",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002b0",
                "name": "hdma_adc1.ErrorCode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000027c",
                "name": "hdma_adc1.Init.Direction",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000028c",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000284",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000290",
                "name": "hdma_adc1.Init.Mode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000288",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000280",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000294",
                "name": "hdma_adc1.Init.Priority",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000278",
                "name": "hdma_adc1.Init.Request",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000274",
                "name": "hdma_adc1.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000298",
                "name": "hdma_adc1.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000029c",
                "name": "hdma_adc1.Parent",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000299",
                "name": "hdma_adc1.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200002ac",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002a0",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002a8",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002a4",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002f0",
                "name": "htim1.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000318",
                "name": "htim1.ChannelNState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000319",
                "name": "htim1.ChannelNState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000031a",
                "name": "htim1.ChannelNState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000031b",
                "name": "htim1.ChannelNState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000312",
                "name": "htim1.ChannelState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000313",
                "name": "htim1.ChannelState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000314",
                "name": "htim1.ChannelState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000315",
                "name": "htim1.ChannelState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000316",
                "name": "htim1.ChannelState[4]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000317",
                "name": "htim1.ChannelState[5]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000031c",
                "name": "htim1.DMABurstState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200002f4",
                "name": "htim1.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002f8",
                "name": "htim1.hdma[1]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002fc",
                "name": "htim1.hdma[2]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000300",
                "name": "htim1.hdma[3]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000304",
                "name": "htim1.hdma[4]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000308",
                "name": "htim1.hdma[5]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000030c",
                "name": "htim1.hdma[6]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002ec",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002e4",
                "name": "htim1.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002dc",
                "name": "htim1.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002e0",
                "name": "htim1.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002d8",
                "name": "htim1.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002e8",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200002d4",
                "name": "htim1.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000310",
                "name": "htim1.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000311",
                "name": "htim1.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000033c",
                "name": "htim2.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000364",
                "name": "htim2.ChannelNState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000365",
                "name": "htim2.ChannelNState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000366",
                "name": "htim2.ChannelNState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000367",
                "name": "htim2.ChannelNState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000035e",
                "name": "htim2.ChannelState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000035f",
                "name": "htim2.ChannelState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000360",
                "name": "htim2.ChannelState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000361",
                "name": "htim2.ChannelState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000362",
                "name": "htim2.ChannelState[4]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000363",
                "name": "htim2.ChannelState[5]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000368",
                "name": "htim2.DMABurstState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000340",
                "name": "htim2.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000344",
                "name": "htim2.hdma[1]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000348",
                "name": "htim2.hdma[2]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000034c",
                "name": "htim2.hdma[3]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000350",
                "name": "htim2.hdma[4]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000354",
                "name": "htim2.hdma[5]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000358",
                "name": "htim2.hdma[6]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000338",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000330",
                "name": "htim2.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000328",
                "name": "htim2.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000032c",
                "name": "htim2.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000324",
                "name": "htim2.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000334",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000320",
                "name": "htim2.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000035c",
                "name": "htim2.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000035d",
                "name": "htim2.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001d0",
                "name": "htim3.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f8",
                "name": "htim3.ChannelNState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f9",
                "name": "htim3.ChannelNState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001fa",
                "name": "htim3.ChannelNState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001fb",
                "name": "htim3.ChannelNState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f2",
                "name": "htim3.ChannelState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f3",
                "name": "htim3.ChannelState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f4",
                "name": "htim3.ChannelState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f5",
                "name": "htim3.ChannelState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f6",
                "name": "htim3.ChannelState[4]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f7",
                "name": "htim3.ChannelState[5]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001fc",
                "name": "htim3.DMABurstState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001d4",
                "name": "htim3.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001d8",
                "name": "htim3.hdma[1]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001dc",
                "name": "htim3.hdma[2]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001e0",
                "name": "htim3.hdma[3]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001e4",
                "name": "htim3.hdma[4]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001e8",
                "name": "htim3.hdma[5]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001ec",
                "name": "htim3.hdma[6]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001cc",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001c4",
                "name": "htim3.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001bc",
                "name": "htim3.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001c0",
                "name": "htim3.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001b8",
                "name": "htim3.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001c8",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001b4",
                "name": "htim3.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200001f0",
                "name": "htim3.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001f1",
                "name": "htim3.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000090",
                "name": "htim4.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b8",
                "name": "htim4.ChannelNState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b9",
                "name": "htim4.ChannelNState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000ba",
                "name": "htim4.ChannelNState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000bb",
                "name": "htim4.ChannelNState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b2",
                "name": "htim4.ChannelState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b3",
                "name": "htim4.ChannelState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b4",
                "name": "htim4.ChannelState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b5",
                "name": "htim4.ChannelState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b6",
                "name": "htim4.ChannelState[4]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b7",
                "name": "htim4.ChannelState[5]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000bc",
                "name": "htim4.DMABurstState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000094",
                "name": "htim4.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000098",
                "name": "htim4.hdma[1]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000009c",
                "name": "htim4.hdma[2]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000a0",
                "name": "htim4.hdma[3]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000a4",
                "name": "htim4.hdma[4]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000a8",
                "name": "htim4.hdma[5]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000ac",
                "name": "htim4.hdma[6]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000008c",
                "name": "htim4.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000084",
                "name": "htim4.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000007c",
                "name": "htim4.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000080",
                "name": "htim4.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000078",
                "name": "htim4.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000088",
                "name": "htim4.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000074",
                "name": "htim4.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000b0",
                "name": "htim4.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000b1",
                "name": "htim4.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000174",
                "name": "htim5.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000019c",
                "name": "htim5.ChannelNState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000019d",
                "name": "htim5.ChannelNState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000019e",
                "name": "htim5.ChannelNState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000019f",
                "name": "htim5.ChannelNState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000196",
                "name": "htim5.ChannelState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000197",
                "name": "htim5.ChannelState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000198",
                "name": "htim5.ChannelState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000199",
                "name": "htim5.ChannelState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000019a",
                "name": "htim5.ChannelState[4]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000019b",
                "name": "htim5.ChannelState[5]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200001a0",
                "name": "htim5.DMABurstState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000178",
                "name": "htim5.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000017c",
                "name": "htim5.hdma[1]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000180",
                "name": "htim5.hdma[2]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000184",
                "name": "htim5.hdma[3]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000188",
                "name": "htim5.hdma[4]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000018c",
                "name": "htim5.hdma[5]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000190",
                "name": "htim5.hdma[6]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000170",
                "name": "htim5.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000168",
                "name": "htim5.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000160",
                "name": "htim5.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000164",
                "name": "htim5.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000015c",
                "name": "htim5.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000016c",
                "name": "htim5.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000158",
                "name": "htim5.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000194",
                "name": "htim5.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000195",
                "name": "htim5.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000544",
                "name": "htim6.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000056c",
                "name": "htim6.ChannelNState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000056d",
                "name": "htim6.ChannelNState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000056e",
                "name": "htim6.ChannelNState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000056f",
                "name": "htim6.ChannelNState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000566",
                "name": "htim6.ChannelState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000567",
                "name": "htim6.ChannelState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000568",
                "name": "htim6.ChannelState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000569",
                "name": "htim6.ChannelState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000056a",
                "name": "htim6.ChannelState[4]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000056b",
                "name": "htim6.ChannelState[5]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000570",
                "name": "htim6.DMABurstState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000548",
                "name": "htim6.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000054c",
                "name": "htim6.hdma[1]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000550",
                "name": "htim6.hdma[2]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000554",
                "name": "htim6.hdma[3]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000558",
                "name": "htim6.hdma[4]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000055c",
                "name": "htim6.hdma[5]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000560",
                "name": "htim6.hdma[6]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000540",
                "name": "htim6.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000538",
                "name": "htim6.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000530",
                "name": "htim6.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000534",
                "name": "htim6.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000052c",
                "name": "htim6.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000053c",
                "name": "htim6.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000528",
                "name": "htim6.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000564",
                "name": "htim6.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000565",
                "name": "htim6.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000044",
                "name": "htim8.Channel",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000006c",
                "name": "htim8.ChannelNState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000006d",
                "name": "htim8.ChannelNState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000006e",
                "name": "htim8.ChannelNState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000006f",
                "name": "htim8.ChannelNState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000066",
                "name": "htim8.ChannelState[0]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000067",
                "name": "htim8.ChannelState[1]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000068",
                "name": "htim8.ChannelState[2]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000069",
                "name": "htim8.ChannelState[3]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000006a",
                "name": "htim8.ChannelState[4]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000006b",
                "name": "htim8.ChannelState[5]",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000070",
                "name": "htim8.DMABurstState",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000048",
                "name": "htim8.hdma[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000004c",
                "name": "htim8.hdma[1]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000050",
                "name": "htim8.hdma[2]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000054",
                "name": "htim8.hdma[3]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000058",
                "name": "htim8.hdma[4]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000005c",
                "name": "htim8.hdma[5]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000060",
                "name": "htim8.hdma[6]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000040",
                "name": "htim8.Init.AutoReloadPreload",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000038",
                "name": "htim8.Init.ClockDivision",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000030",
                "name": "htim8.Init.CounterMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000034",
                "name": "htim8.Init.Period",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000002c",
                "name": "htim8.Init.Prescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000003c",
                "name": "htim8.Init.RepetitionCounter",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000028",
                "name": "htim8.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000064",
                "name": "htim8.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000065",
                "name": "htim8.State",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x200000ec",
                "name": "huart3.AdvancedInit.AdvFeatureInit",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000108",
                "name": "huart3.AdvancedInit.AutoBaudRateEnable",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000010c",
                "name": "huart3.AdvancedInit.AutoBaudRateMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000f8",
                "name": "huart3.AdvancedInit.DataInvert",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000104",
                "name": "huart3.AdvancedInit.DMADisableonRxError",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000110",
                "name": "huart3.AdvancedInit.MSBFirst",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000100",
                "name": "huart3.AdvancedInit.OverrunDisable",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000f4",
                "name": "huart3.AdvancedInit.RxPinLevelInvert",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000fc",
                "name": "huart3.AdvancedInit.Swap",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000f0",
                "name": "huart3.AdvancedInit.TxPinLevelInvert",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000150",
                "name": "huart3.ErrorCode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000128",
                "name": "huart3.FifoMode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000148",
                "name": "huart3.gState",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000140",
                "name": "huart3.hdmarx",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000013c",
                "name": "huart3.hdmatx",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000c8",
                "name": "huart3.Init.BaudRate",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000e8",
                "name": "huart3.Init.ClockPrescaler",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000dc",
                "name": "huart3.Init.HwFlowCtl",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000d8",
                "name": "huart3.Init.Mode",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000e4",
                "name": "huart3.Init.OneBitSampling",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000e0",
                "name": "huart3.Init.OverSampling",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000d4",
                "name": "huart3.Init.Parity",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000d0",
                "name": "huart3.Init.StopBits",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000cc",
                "name": "huart3.Init.WordLength",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200000c4",
                "name": "huart3.Instance",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000144",
                "name": "huart3.Lock",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000124",
                "name": "huart3.Mask",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x2000012c",
                "name": "huart3.NbRxDataToProcess",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x2000012e",
                "name": "huart3.NbTxDataToProcess",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x2000011c",
                "name": "huart3.pRxBuffPtr",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000114",
                "name": "huart3.pTxBuffPtr",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000130",
                "name": "huart3.ReceptionType",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000134",
                "name": "huart3.RxISR",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000014c",
                "name": "huart3.RxState",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000122",
                "name": "huart3.RxXferCount",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000120",
                "name": "huart3.RxXferSize",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000138",
                "name": "huart3.TxISR",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000011a",
                "name": "huart3.TxXferCount",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000118",
                "name": "huart3.TxXferSize",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000270",
                "name": "MAIN_CLOCK",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000026c",
                "name": "MipDcLinkVoltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000154",
                "name": "MotCtrlStateMachine.ControlWord",
                "type": 1
            },
            {
                "address": "0x20000154",
                "name": "MotCtrlStateMachine.ControlWord",
                "type": 1
            },
            {
                "address": "0x20000155",
                "name": "MotCtrlStateMachine.CurrentMode",
                "type": 2
            },
            {
                "address": "0x20000155",
                "name": "MotCtrlStateMachine.CurrentMode",
                "type": 2
            },
            {
                "address": "0x20000156",
                "name": "MotCtrlStateMachine.RequestedMode",
                "type": 2
            },
            {
                "address": "0x20000156",
                "name": "MotCtrlStateMachine.RequestedMode",
                "type": 2
            },
            {
                "address": "0x200003c0",
                "name": "Motor[0].CurrentCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003c8",
                "name": "Motor[0].CurrentCtrl.Igain",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200003cc",
                "name": "Motor[0].CurrentCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003c4",
                "name": "Motor[0].CurrentCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003d0",
                "name": "Motor[0].CurrentCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003d4",
                "name": "Motor[0].CurrentCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000370",
                "name": "Motor[0].MotorInputs.Current",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000374",
                "name": "Motor[0].MotorInputs.MotorSpeed",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000036c",
                "name": "Motor[0].MotorInputs.Voltage",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000378",
                "name": "Motor[0].MotorInputs.WheelSpeed",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200003a4",
                "name": "Motor[0].Param.Ke",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003a0",
                "name": "Motor[0].Param.L",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000039c",
                "name": "Motor[0].Param.R",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000390",
                "name": "Motor[0].Requests.Current",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000398",
                "name": "Motor[0].Requests.PwmDtc",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000038c",
                "name": "Motor[0].Requests.Speed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000394",
                "name": "Motor[0].Requests.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003a8",
                "name": "Motor[0].SpeedCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003b0",
                "name": "Motor[0].SpeedCtrl.Igain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003b4",
                "name": "Motor[0].SpeedCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003ac",
                "name": "Motor[0].SpeedCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003b8",
                "name": "Motor[0].SpeedCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003bc",
                "name": "Motor[0].SpeedCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000388",
                "name": "Motor[0].SpeedEst.bEMF",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000037c",
                "name": "Motor[0].SpeedEst.Iak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000384",
                "name": "Motor[0].SpeedEst.Speedk1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000380",
                "name": "Motor[0].SpeedEst.Vak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000042c",
                "name": "Motor[1].CurrentCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000434",
                "name": "Motor[1].CurrentCtrl.Igain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000438",
                "name": "Motor[1].CurrentCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000430",
                "name": "Motor[1].CurrentCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000043c",
                "name": "Motor[1].CurrentCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000440",
                "name": "Motor[1].CurrentCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003dc",
                "name": "Motor[1].MotorInputs.Current",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200003e0",
                "name": "Motor[1].MotorInputs.MotorSpeed",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200003d8",
                "name": "Motor[1].MotorInputs.Voltage",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200003e4",
                "name": "Motor[1].MotorInputs.WheelSpeed",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000410",
                "name": "Motor[1].Param.Ke",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000040c",
                "name": "Motor[1].Param.L",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000408",
                "name": "Motor[1].Param.R",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003fc",
                "name": "Motor[1].Requests.Current",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000404",
                "name": "Motor[1].Requests.PwmDtc",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003f8",
                "name": "Motor[1].Requests.Speed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000400",
                "name": "Motor[1].Requests.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000414",
                "name": "Motor[1].SpeedCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000041c",
                "name": "Motor[1].SpeedCtrl.Igain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000420",
                "name": "Motor[1].SpeedCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000418",
                "name": "Motor[1].SpeedCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000424",
                "name": "Motor[1].SpeedCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000428",
                "name": "Motor[1].SpeedCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003f4",
                "name": "Motor[1].SpeedEst.bEMF",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003e8",
                "name": "Motor[1].SpeedEst.Iak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003f0",
                "name": "Motor[1].SpeedEst.Speedk1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003ec",
                "name": "Motor[1].SpeedEst.Vak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000498",
                "name": "Motor[2].CurrentCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004a0",
                "name": "Motor[2].CurrentCtrl.Igain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004a4",
                "name": "Motor[2].CurrentCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000049c",
                "name": "Motor[2].CurrentCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004a8",
                "name": "Motor[2].CurrentCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004ac",
                "name": "Motor[2].CurrentCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000448",
                "name": "Motor[2].MotorInputs.Current",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000044c",
                "name": "Motor[2].MotorInputs.MotorSpeed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000444",
                "name": "Motor[2].MotorInputs.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000450",
                "name": "Motor[2].MotorInputs.WheelSpeed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000047c",
                "name": "Motor[2].Param.Ke",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000478",
                "name": "Motor[2].Param.L",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000474",
                "name": "Motor[2].Param.R",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000468",
                "name": "Motor[2].Requests.Current",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000470",
                "name": "Motor[2].Requests.PwmDtc",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000464",
                "name": "Motor[2].Requests.Speed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000046c",
                "name": "Motor[2].Requests.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000480",
                "name": "Motor[2].SpeedCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000488",
                "name": "Motor[2].SpeedCtrl.Igain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000048c",
                "name": "Motor[2].SpeedCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000484",
                "name": "Motor[2].SpeedCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000490",
                "name": "Motor[2].SpeedCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000494",
                "name": "Motor[2].SpeedCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000460",
                "name": "Motor[2].SpeedEst.bEMF",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000454",
                "name": "Motor[2].SpeedEst.Iak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000045c",
                "name": "Motor[2].SpeedEst.Speedk1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000458",
                "name": "Motor[2].SpeedEst.Vak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000504",
                "name": "Motor[3].CurrentCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x2000050c",
                "name": "Motor[3].CurrentCtrl.Igain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000510",
                "name": "Motor[3].CurrentCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000508",
                "name": "Motor[3].CurrentCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000514",
                "name": "Motor[3].CurrentCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000518",
                "name": "Motor[3].CurrentCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004b4",
                "name": "Motor[3].MotorInputs.Current",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004b8",
                "name": "Motor[3].MotorInputs.MotorSpeed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004b0",
                "name": "Motor[3].MotorInputs.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004bc",
                "name": "Motor[3].MotorInputs.WheelSpeed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004e8",
                "name": "Motor[3].Param.Ke",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004e4",
                "name": "Motor[3].Param.L",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004e0",
                "name": "Motor[3].Param.R",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004d4",
                "name": "Motor[3].Requests.Current",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004dc",
                "name": "Motor[3].Requests.PwmDtc",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004d0",
                "name": "Motor[3].Requests.Speed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004d8",
                "name": "Motor[3].Requests.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004ec",
                "name": "Motor[3].SpeedCtrl.Error",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004f4",
                "name": "Motor[3].SpeedCtrl.Igain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004f8",
                "name": "Motor[3].SpeedCtrl.IntegralPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004f0",
                "name": "Motor[3].SpeedCtrl.Pgain",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004fc",
                "name": "Motor[3].SpeedCtrl.ProportionalPart",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000500",
                "name": "Motor[3].SpeedCtrl.Sat",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004cc",
                "name": "Motor[3].SpeedEst.bEMF",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004c0",
                "name": "Motor[3].SpeedEst.Iak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004c8",
                "name": "Motor[3].SpeedEst.Speedk1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200004c4",
                "name": "Motor[3].SpeedEst.Vak1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000526",
                "name": "Motors",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x2000051c",
                "name": "RawAdcValue[0]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x2000051e",
                "name": "RawAdcValue[1]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000520",
                "name": "RawAdcValue[2]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000522",
                "name": "RawAdcValue[3]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000524",
                "name": "RawAdcValue[4]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x200001a4",
                "name": "RawPwmInput.M1",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200001a8",
                "name": "RawPwmInput.M2",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200001ac",
                "name": "RawPwmInput.M3",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200001b0",
                "name": "RawPwmInput.M4",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x0800a38c",
                "name": "UARTPrescTable[0]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a3a0",
                "name": "UARTPrescTable[10]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a3a2",
                "name": "UARTPrescTable[11]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a38e",
                "name": "UARTPrescTable[1]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a390",
                "name": "UARTPrescTable[2]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a392",
                "name": "UARTPrescTable[3]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a394",
                "name": "UARTPrescTable[4]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a396",
                "name": "UARTPrescTable[5]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a398",
                "name": "UARTPrescTable[6]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a39a",
                "name": "UARTPrescTable[7]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a39c",
                "name": "UARTPrescTable[8]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x0800a39e",
                "name": "UARTPrescTable[9]",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000574",
                "name": "uwTick",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5,
                "checked": false
            }
        ],
        "expand": true,
        "filename": "TESS.elf",
        "exeModifiedTime": 1637657235237,
        "configLastUpdate": 1637665403972
    },
    {
        "id": "d510d513.6a0c68",
        "type": "ui_group",
        "name": "Control Panel",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "6068d580.7a48bc",
        "type": "exe-config",
        "name": "AllRequests",
        "exefile": "/Users/axinteandrei/Lab/github/TESS/ProjectDevelopment/Debug/TESS.elf",
        "exefolder": "/Users/axinteandrei/Lab/github/TESS/ProjectDevelopment/Debug",
        "exevariablelist": [
            {
                "address": "0x200000c0",
                "name": "AdcBufferMap",
                "type": 2
            },
            {
                "address": "0x0800a374",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x0800a37e",
                "name": "AHBPrescTable[10]",
                "type": 1
            },
            {
                "address": "0x0800a37f",
                "name": "AHBPrescTable[11]",
                "type": 1
            },
            {
                "address": "0x0800a380",
                "name": "AHBPrescTable[12]",
                "type": 1
            },
            {
                "address": "0x0800a381",
                "name": "AHBPrescTable[13]",
                "type": 1
            },
            {
                "address": "0x0800a382",
                "name": "AHBPrescTable[14]",
                "type": 1
            },
            {
                "address": "0x0800a383",
                "name": "AHBPrescTable[15]",
                "type": 1
            },
            {
                "address": "0x0800a375",
                "name": "AHBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x0800a376",
                "name": "AHBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x0800a377",
                "name": "AHBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x0800a378",
                "name": "AHBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x0800a379",
                "name": "AHBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x0800a37a",
                "name": "AHBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x0800a37b",
                "name": "AHBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x0800a37c",
                "name": "AHBPrescTable[8]",
                "type": 1
            },
            {
                "address": "0x0800a37d",
                "name": "AHBPrescTable[9]",
                "type": 1
            },
            {
                "address": "0x0800a384",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x0800a385",
                "name": "APBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x0800a386",
                "name": "APBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x0800a387",
                "name": "APBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x0800a388",
                "name": "APBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x0800a389",
                "name": "APBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x0800a38a",
                "name": "APBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x0800a38b",
                "name": "APBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x20000254",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x20000260",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x2000021d",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x2000020c",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000224",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000238",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x20000218",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x2000022c",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000230",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hadc1.Init.GainCompensation",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hadc1.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x20000220",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x20000228",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x2000023c",
                "name": "hadc1.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x20000250",
                "name": "hadc1.Init.Oversampling.OversamplingStopReset",
                "type": 5
            },
            {
                "address": "0x20000244",
                "name": "hadc1.Init.Oversampling.Ratio",
                "type": 5
            },
            {
                "address": "0x20000248",
                "name": "hadc1.Init.Oversampling.RightBitShift",
                "type": 5
            },
            {
                "address": "0x2000024c",
                "name": "hadc1.Init.Oversampling.TriggeredMode",
                "type": 5
            },
            {
                "address": "0x20000240",
                "name": "hadc1.Init.OversamplingMode",
                "type": 2
            },
            {
                "address": "0x20000208",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000234",
                "name": "hadc1.Init.SamplingMode",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000268",
                "name": "hadc1.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000264",
                "name": "hadc1.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000258",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000025c",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200002b8",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x200002b4",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x200002bc",
                "name": "hdma_adc1.DMAmuxChannel",
                "type": 5
            },
            {
                "address": "0x200002c0",
                "name": "hdma_adc1.DMAmuxChannelStatus",
                "type": 5
            },
            {
                "address": "0x200002c4",
                "name": "hdma_adc1.DMAmuxChannelStatusMask",
                "type": 5
            },
            {
                "address": "0x200002c8",
                "name": "hdma_adc1.DMAmuxRequestGen",
                "type": 5
            },
            {
                "address": "0x200002cc",
                "name": "hdma_adc1.DMAmuxRequestGenStatus",
                "type": 5
            },
            {
                "address": "0x200002d0",
                "name": "hdma_adc1.DMAmuxRequestGenStatusMask",
                "type": 5
            },
            {
                "address": "0x200002b0",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000027c",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x2000028c",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000284",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000290",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000288",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000280",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000294",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20000278",
                "name": "hdma_adc1.Init.Request",
                "type": 5
            },
            {
                "address": "0x20000274",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000298",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000029c",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x20000299",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x200002ac",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x200002a0",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x200002a8",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x200002a4",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200002f0",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x20000318",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000319",
                "name": "htim1.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x2000031a",
                "name": "htim1.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x2000031b",
                "name": "htim1.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x20000312",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000313",
                "name": "htim1.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x20000314",
                "name": "htim1.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x20000315",
                "name": "htim1.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x20000316",
                "name": "htim1.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x20000317",
                "name": "htim1.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x2000031c",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200002f4",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200002f8",
                "name": "htim1.hdma[1]",
                "type": 5
            },
            {
                "address": "0x200002fc",
                "name": "htim1.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000300",
                "name": "htim1.hdma[3]",
                "type": 5
            },
            {
                "address": "0x20000304",
                "name": "htim1.hdma[4]",
                "type": 5
            },
            {
                "address": "0x20000308",
                "name": "htim1.hdma[5]",
                "type": 5
            },
            {
                "address": "0x2000030c",
                "name": "htim1.hdma[6]",
                "type": 5
            },
            {
                "address": "0x200002ec",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200002e4",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200002dc",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200002e0",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x200002d8",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200002e8",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200002d4",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x20000310",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x20000311",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x2000033c",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x20000364",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000365",
                "name": "htim2.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x20000366",
                "name": "htim2.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x20000367",
                "name": "htim2.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x2000035e",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000035f",
                "name": "htim2.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x20000360",
                "name": "htim2.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x20000361",
                "name": "htim2.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x20000362",
                "name": "htim2.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x20000363",
                "name": "htim2.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x20000368",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000340",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000344",
                "name": "htim2.hdma[1]",
                "type": 5
            },
            {
                "address": "0x20000348",
                "name": "htim2.hdma[2]",
                "type": 5
            },
            {
                "address": "0x2000034c",
                "name": "htim2.hdma[3]",
                "type": 5
            },
            {
                "address": "0x20000350",
                "name": "htim2.hdma[4]",
                "type": 5
            },
            {
                "address": "0x20000354",
                "name": "htim2.hdma[5]",
                "type": 5
            },
            {
                "address": "0x20000358",
                "name": "htim2.hdma[6]",
                "type": 5
            },
            {
                "address": "0x20000338",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000330",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000328",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x2000032c",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000324",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000334",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000320",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x2000035c",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x2000035d",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x200001d0",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x200001f8",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200001f9",
                "name": "htim3.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x200001fa",
                "name": "htim3.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x200001fb",
                "name": "htim3.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x200001f2",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200001f3",
                "name": "htim3.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x200001f4",
                "name": "htim3.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x200001f5",
                "name": "htim3.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x200001f6",
                "name": "htim3.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x200001f7",
                "name": "htim3.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x200001fc",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200001d4",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200001d8",
                "name": "htim3.hdma[1]",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "htim3.hdma[2]",
                "type": 5
            },
            {
                "address": "0x200001e0",
                "name": "htim3.hdma[3]",
                "type": 5
            },
            {
                "address": "0x200001e4",
                "name": "htim3.hdma[4]",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "htim3.hdma[5]",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "htim3.hdma[6]",
                "type": 5
            },
            {
                "address": "0x200001cc",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200001c4",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200001c8",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x200001f1",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x20000090",
                "name": "htim4.Channel",
                "type": 2
            },
            {
                "address": "0x200000b8",
                "name": "htim4.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200000b9",
                "name": "htim4.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x200000ba",
                "name": "htim4.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x200000bb",
                "name": "htim4.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x200000b2",
                "name": "htim4.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200000b3",
                "name": "htim4.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x200000b4",
                "name": "htim4.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x200000b5",
                "name": "htim4.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x200000b6",
                "name": "htim4.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x200000b7",
                "name": "htim4.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x200000bc",
                "name": "htim4.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000094",
                "name": "htim4.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "htim4.hdma[1]",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "htim4.hdma[2]",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "htim4.hdma[3]",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "htim4.hdma[4]",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "htim4.hdma[5]",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "htim4.hdma[6]",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "htim4.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "htim4.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "htim4.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "htim4.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "htim4.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "htim4.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "htim4.Instance",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "htim4.Lock",
                "type": 2
            },
            {
                "address": "0x200000b1",
                "name": "htim4.State",
                "type": 2
            },
            {
                "address": "0x20000174",
                "name": "htim5.Channel",
                "type": 2
            },
            {
                "address": "0x2000019c",
                "name": "htim5.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000019d",
                "name": "htim5.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x2000019e",
                "name": "htim5.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x2000019f",
                "name": "htim5.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x20000196",
                "name": "htim5.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000197",
                "name": "htim5.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x20000198",
                "name": "htim5.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x20000199",
                "name": "htim5.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x2000019a",
                "name": "htim5.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x2000019b",
                "name": "htim5.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x200001a0",
                "name": "htim5.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000178",
                "name": "htim5.hdma[0]",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "htim5.hdma[1]",
                "type": 5
            },
            {
                "address": "0x20000180",
                "name": "htim5.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000184",
                "name": "htim5.hdma[3]",
                "type": 5
            },
            {
                "address": "0x20000188",
                "name": "htim5.hdma[4]",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "htim5.hdma[5]",
                "type": 5
            },
            {
                "address": "0x20000190",
                "name": "htim5.hdma[6]",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "htim5.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "htim5.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "htim5.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "htim5.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "htim5.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "htim5.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "htim5.Instance",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "htim5.Lock",
                "type": 2
            },
            {
                "address": "0x20000195",
                "name": "htim5.State",
                "type": 2
            },
            {
                "address": "0x20000544",
                "name": "htim6.Channel",
                "type": 2
            },
            {
                "address": "0x2000056c",
                "name": "htim6.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000056d",
                "name": "htim6.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x2000056e",
                "name": "htim6.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x2000056f",
                "name": "htim6.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x20000566",
                "name": "htim6.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000567",
                "name": "htim6.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x20000568",
                "name": "htim6.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x20000569",
                "name": "htim6.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x2000056a",
                "name": "htim6.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x2000056b",
                "name": "htim6.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x20000570",
                "name": "htim6.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000548",
                "name": "htim6.hdma[0]",
                "type": 5
            },
            {
                "address": "0x2000054c",
                "name": "htim6.hdma[1]",
                "type": 5
            },
            {
                "address": "0x20000550",
                "name": "htim6.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000554",
                "name": "htim6.hdma[3]",
                "type": 5
            },
            {
                "address": "0x20000558",
                "name": "htim6.hdma[4]",
                "type": 5
            },
            {
                "address": "0x2000055c",
                "name": "htim6.hdma[5]",
                "type": 5
            },
            {
                "address": "0x20000560",
                "name": "htim6.hdma[6]",
                "type": 5
            },
            {
                "address": "0x20000540",
                "name": "htim6.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000538",
                "name": "htim6.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000530",
                "name": "htim6.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000534",
                "name": "htim6.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000052c",
                "name": "htim6.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000053c",
                "name": "htim6.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000528",
                "name": "htim6.Instance",
                "type": 5
            },
            {
                "address": "0x20000564",
                "name": "htim6.Lock",
                "type": 2
            },
            {
                "address": "0x20000565",
                "name": "htim6.State",
                "type": 2
            },
            {
                "address": "0x20000044",
                "name": "htim8.Channel",
                "type": 2
            },
            {
                "address": "0x2000006c",
                "name": "htim8.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000006d",
                "name": "htim8.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x2000006e",
                "name": "htim8.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x2000006f",
                "name": "htim8.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x20000066",
                "name": "htim8.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000067",
                "name": "htim8.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x20000068",
                "name": "htim8.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x20000069",
                "name": "htim8.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x2000006a",
                "name": "htim8.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x2000006b",
                "name": "htim8.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x20000070",
                "name": "htim8.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000048",
                "name": "htim8.hdma[0]",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "htim8.hdma[1]",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "htim8.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "htim8.hdma[3]",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "htim8.hdma[4]",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "htim8.hdma[5]",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "htim8.hdma[6]",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "htim8.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "htim8.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "htim8.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "htim8.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "htim8.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "htim8.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "htim8.Instance",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "htim8.Lock",
                "type": 2
            },
            {
                "address": "0x20000065",
                "name": "htim8.State",
                "type": 2
            },
            {
                "address": "0x200000ec",
                "name": "huart3.AdvancedInit.AdvFeatureInit",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "huart3.AdvancedInit.AutoBaudRateEnable",
                "type": 5
            },
            {
                "address": "0x2000010c",
                "name": "huart3.AdvancedInit.AutoBaudRateMode",
                "type": 5
            },
            {
                "address": "0x200000f8",
                "name": "huart3.AdvancedInit.DataInvert",
                "type": 5
            },
            {
                "address": "0x20000104",
                "name": "huart3.AdvancedInit.DMADisableonRxError",
                "type": 5
            },
            {
                "address": "0x20000110",
                "name": "huart3.AdvancedInit.MSBFirst",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "huart3.AdvancedInit.OverrunDisable",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "huart3.AdvancedInit.RxPinLevelInvert",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "huart3.AdvancedInit.Swap",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "huart3.AdvancedInit.TxPinLevelInvert",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "huart3.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "huart3.FifoMode",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "huart3.gState",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "huart3.hdmarx",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "huart3.hdmatx",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "huart3.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "huart3.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "huart3.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "huart3.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "huart3.Init.OneBitSampling",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "huart3.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "huart3.Init.Parity",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "huart3.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "huart3.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "huart3.Instance",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "huart3.Lock",
                "type": 2
            },
            {
                "address": "0x20000124",
                "name": "huart3.Mask",
                "type": 3
            },
            {
                "address": "0x2000012c",
                "name": "huart3.NbRxDataToProcess",
                "type": 3
            },
            {
                "address": "0x2000012e",
                "name": "huart3.NbTxDataToProcess",
                "type": 3
            },
            {
                "address": "0x2000011c",
                "name": "huart3.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "huart3.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "huart3.ReceptionType",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "huart3.RxISR",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "huart3.RxState",
                "type": 5
            },
            {
                "address": "0x20000122",
                "name": "huart3.RxXferCount",
                "type": 3
            },
            {
                "address": "0x20000120",
                "name": "huart3.RxXferSize",
                "type": 3
            },
            {
                "address": "0x20000138",
                "name": "huart3.TxISR",
                "type": 5
            },
            {
                "address": "0x2000011a",
                "name": "huart3.TxXferCount",
                "type": 3
            },
            {
                "address": "0x20000118",
                "name": "huart3.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000270",
                "name": "MAIN_CLOCK",
                "type": 5
            },
            {
                "address": "0x2000026c",
                "name": "MipDcLinkVoltage",
                "type": 9
            },
            {
                "address": "0x20000154",
                "name": "MotCtrlStateMachine.ControlWord",
                "type": 1
            },
            {
                "address": "0x20000154",
                "name": "MotCtrlStateMachine.ControlWord",
                "type": 1
            },
            {
                "address": "0x20000155",
                "name": "MotCtrlStateMachine.CurrentMode",
                "type": 2
            },
            {
                "address": "0x20000155",
                "name": "MotCtrlStateMachine.CurrentMode",
                "type": 2
            },
            {
                "address": "0x20000156",
                "name": "MotCtrlStateMachine.RequestedMode",
                "type": 2
            },
            {
                "address": "0x20000156",
                "name": "MotCtrlStateMachine.RequestedMode",
                "type": 2
            },
            {
                "address": "0x200003c0",
                "name": "Motor[0].CurrentCtrl.Error",
                "type": 9
            },
            {
                "address": "0x200003c8",
                "name": "Motor[0].CurrentCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x200003cc",
                "name": "Motor[0].CurrentCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x200003c4",
                "name": "Motor[0].CurrentCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x200003d0",
                "name": "Motor[0].CurrentCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x200003d4",
                "name": "Motor[0].CurrentCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x20000370",
                "name": "Motor[0].MotorInputs.Current",
                "type": 9
            },
            {
                "address": "0x20000374",
                "name": "Motor[0].MotorInputs.MotorSpeed",
                "type": 9
            },
            {
                "address": "0x2000036c",
                "name": "Motor[0].MotorInputs.Voltage",
                "type": 9
            },
            {
                "address": "0x20000378",
                "name": "Motor[0].MotorInputs.WheelSpeed",
                "type": 9
            },
            {
                "address": "0x200003a4",
                "name": "Motor[0].Param.Ke",
                "type": 9
            },
            {
                "address": "0x200003a0",
                "name": "Motor[0].Param.L",
                "type": 9
            },
            {
                "address": "0x2000039c",
                "name": "Motor[0].Param.R",
                "type": 9
            },
            {
                "address": "0x20000390",
                "name": "Motor[0].Requests.Current",
                "type": 9
            },
            {
                "address": "0x20000398",
                "name": "Motor[0].Requests.PwmDtc",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000038c",
                "name": "Motor[0].Requests.Speed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000394",
                "name": "Motor[0].Requests.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003a8",
                "name": "Motor[0].SpeedCtrl.Error",
                "type": 9
            },
            {
                "address": "0x200003b0",
                "name": "Motor[0].SpeedCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x200003b4",
                "name": "Motor[0].SpeedCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x200003ac",
                "name": "Motor[0].SpeedCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x200003b8",
                "name": "Motor[0].SpeedCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x200003bc",
                "name": "Motor[0].SpeedCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x20000388",
                "name": "Motor[0].SpeedEst.bEMF",
                "type": 9
            },
            {
                "address": "0x2000037c",
                "name": "Motor[0].SpeedEst.Iak1",
                "type": 9
            },
            {
                "address": "0x20000384",
                "name": "Motor[0].SpeedEst.Speedk1",
                "type": 9
            },
            {
                "address": "0x20000380",
                "name": "Motor[0].SpeedEst.Vak1",
                "type": 9
            },
            {
                "address": "0x2000042c",
                "name": "Motor[1].CurrentCtrl.Error",
                "type": 9
            },
            {
                "address": "0x20000434",
                "name": "Motor[1].CurrentCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x20000438",
                "name": "Motor[1].CurrentCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x20000430",
                "name": "Motor[1].CurrentCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x2000043c",
                "name": "Motor[1].CurrentCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x20000440",
                "name": "Motor[1].CurrentCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x200003dc",
                "name": "Motor[1].MotorInputs.Current",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003e0",
                "name": "Motor[1].MotorInputs.MotorSpeed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003d8",
                "name": "Motor[1].MotorInputs.Voltage",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x200003e4",
                "name": "Motor[1].MotorInputs.WheelSpeed",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000410",
                "name": "Motor[1].Param.Ke",
                "type": 9
            },
            {
                "address": "0x2000040c",
                "name": "Motor[1].Param.L",
                "type": 9
            },
            {
                "address": "0x20000408",
                "name": "Motor[1].Param.R",
                "type": 9
            },
            {
                "address": "0x200003fc",
                "name": "Motor[1].Requests.Current",
                "type": 9
            },
            {
                "address": "0x20000404",
                "name": "Motor[1].Requests.PwmDtc",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200003f8",
                "name": "Motor[1].Requests.Speed",
                "type": 9
            },
            {
                "address": "0x20000400",
                "name": "Motor[1].Requests.Voltage",
                "type": 9
            },
            {
                "address": "0x20000414",
                "name": "Motor[1].SpeedCtrl.Error",
                "type": 9
            },
            {
                "address": "0x2000041c",
                "name": "Motor[1].SpeedCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x20000420",
                "name": "Motor[1].SpeedCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x20000418",
                "name": "Motor[1].SpeedCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x20000424",
                "name": "Motor[1].SpeedCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x20000428",
                "name": "Motor[1].SpeedCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x200003f4",
                "name": "Motor[1].SpeedEst.bEMF",
                "type": 9
            },
            {
                "address": "0x200003e8",
                "name": "Motor[1].SpeedEst.Iak1",
                "type": 9
            },
            {
                "address": "0x200003f0",
                "name": "Motor[1].SpeedEst.Speedk1",
                "type": 9
            },
            {
                "address": "0x200003ec",
                "name": "Motor[1].SpeedEst.Vak1",
                "type": 9
            },
            {
                "address": "0x20000498",
                "name": "Motor[2].CurrentCtrl.Error",
                "type": 9
            },
            {
                "address": "0x200004a0",
                "name": "Motor[2].CurrentCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x200004a4",
                "name": "Motor[2].CurrentCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x2000049c",
                "name": "Motor[2].CurrentCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x200004a8",
                "name": "Motor[2].CurrentCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x200004ac",
                "name": "Motor[2].CurrentCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x20000448",
                "name": "Motor[2].MotorInputs.Current",
                "type": 9
            },
            {
                "address": "0x2000044c",
                "name": "Motor[2].MotorInputs.MotorSpeed",
                "type": 9
            },
            {
                "address": "0x20000444",
                "name": "Motor[2].MotorInputs.Voltage",
                "type": 9
            },
            {
                "address": "0x20000450",
                "name": "Motor[2].MotorInputs.WheelSpeed",
                "type": 9
            },
            {
                "address": "0x2000047c",
                "name": "Motor[2].Param.Ke",
                "type": 9
            },
            {
                "address": "0x20000478",
                "name": "Motor[2].Param.L",
                "type": 9
            },
            {
                "address": "0x20000474",
                "name": "Motor[2].Param.R",
                "type": 9
            },
            {
                "address": "0x20000468",
                "name": "Motor[2].Requests.Current",
                "type": 9
            },
            {
                "address": "0x20000470",
                "name": "Motor[2].Requests.PwmDtc",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000464",
                "name": "Motor[2].Requests.Speed",
                "type": 9
            },
            {
                "address": "0x2000046c",
                "name": "Motor[2].Requests.Voltage",
                "type": 9
            },
            {
                "address": "0x20000480",
                "name": "Motor[2].SpeedCtrl.Error",
                "type": 9
            },
            {
                "address": "0x20000488",
                "name": "Motor[2].SpeedCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x2000048c",
                "name": "Motor[2].SpeedCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x20000484",
                "name": "Motor[2].SpeedCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x20000490",
                "name": "Motor[2].SpeedCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x20000494",
                "name": "Motor[2].SpeedCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x20000460",
                "name": "Motor[2].SpeedEst.bEMF",
                "type": 9
            },
            {
                "address": "0x20000454",
                "name": "Motor[2].SpeedEst.Iak1",
                "type": 9
            },
            {
                "address": "0x2000045c",
                "name": "Motor[2].SpeedEst.Speedk1",
                "type": 9
            },
            {
                "address": "0x20000458",
                "name": "Motor[2].SpeedEst.Vak1",
                "type": 9
            },
            {
                "address": "0x20000504",
                "name": "Motor[3].CurrentCtrl.Error",
                "type": 9
            },
            {
                "address": "0x2000050c",
                "name": "Motor[3].CurrentCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x20000510",
                "name": "Motor[3].CurrentCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x20000508",
                "name": "Motor[3].CurrentCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x20000514",
                "name": "Motor[3].CurrentCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x20000518",
                "name": "Motor[3].CurrentCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x200004b4",
                "name": "Motor[3].MotorInputs.Current",
                "type": 9
            },
            {
                "address": "0x200004b8",
                "name": "Motor[3].MotorInputs.MotorSpeed",
                "type": 9
            },
            {
                "address": "0x200004b0",
                "name": "Motor[3].MotorInputs.Voltage",
                "type": 9
            },
            {
                "address": "0x200004bc",
                "name": "Motor[3].MotorInputs.WheelSpeed",
                "type": 9
            },
            {
                "address": "0x200004e8",
                "name": "Motor[3].Param.Ke",
                "type": 9
            },
            {
                "address": "0x200004e4",
                "name": "Motor[3].Param.L",
                "type": 9
            },
            {
                "address": "0x200004e0",
                "name": "Motor[3].Param.R",
                "type": 9
            },
            {
                "address": "0x200004d4",
                "name": "Motor[3].Requests.Current",
                "type": 9
            },
            {
                "address": "0x200004dc",
                "name": "Motor[3].Requests.PwmDtc",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200004d0",
                "name": "Motor[3].Requests.Speed",
                "type": 9
            },
            {
                "address": "0x200004d8",
                "name": "Motor[3].Requests.Voltage",
                "type": 9
            },
            {
                "address": "0x200004ec",
                "name": "Motor[3].SpeedCtrl.Error",
                "type": 9
            },
            {
                "address": "0x200004f4",
                "name": "Motor[3].SpeedCtrl.Igain",
                "type": 9
            },
            {
                "address": "0x200004f8",
                "name": "Motor[3].SpeedCtrl.IntegralPart",
                "type": 9
            },
            {
                "address": "0x200004f0",
                "name": "Motor[3].SpeedCtrl.Pgain",
                "type": 9
            },
            {
                "address": "0x200004fc",
                "name": "Motor[3].SpeedCtrl.ProportionalPart",
                "type": 9
            },
            {
                "address": "0x20000500",
                "name": "Motor[3].SpeedCtrl.Sat",
                "type": 9
            },
            {
                "address": "0x200004cc",
                "name": "Motor[3].SpeedEst.bEMF",
                "type": 9
            },
            {
                "address": "0x200004c0",
                "name": "Motor[3].SpeedEst.Iak1",
                "type": 9
            },
            {
                "address": "0x200004c8",
                "name": "Motor[3].SpeedEst.Speedk1",
                "type": 9
            },
            {
                "address": "0x200004c4",
                "name": "Motor[3].SpeedEst.Vak1",
                "type": 9
            },
            {
                "address": "0x20000526",
                "name": "Motors",
                "type": 2
            },
            {
                "address": "0x2000051c",
                "name": "RawAdcValue[0]",
                "type": 3
            },
            {
                "address": "0x2000051e",
                "name": "RawAdcValue[1]",
                "type": 3
            },
            {
                "address": "0x20000520",
                "name": "RawAdcValue[2]",
                "type": 3
            },
            {
                "address": "0x20000522",
                "name": "RawAdcValue[3]",
                "type": 3
            },
            {
                "address": "0x20000524",
                "name": "RawAdcValue[4]",
                "type": 3
            },
            {
                "address": "0x200001a4",
                "name": "RawPwmInput.M1",
                "type": 9
            },
            {
                "address": "0x200001a8",
                "name": "RawPwmInput.M2",
                "type": 9
            },
            {
                "address": "0x200001ac",
                "name": "RawPwmInput.M3",
                "type": 9
            },
            {
                "address": "0x200001b0",
                "name": "RawPwmInput.M4",
                "type": 9
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x0800a38c",
                "name": "UARTPrescTable[0]",
                "type": 3
            },
            {
                "address": "0x0800a3a0",
                "name": "UARTPrescTable[10]",
                "type": 3
            },
            {
                "address": "0x0800a3a2",
                "name": "UARTPrescTable[11]",
                "type": 3
            },
            {
                "address": "0x0800a38e",
                "name": "UARTPrescTable[1]",
                "type": 3
            },
            {
                "address": "0x0800a390",
                "name": "UARTPrescTable[2]",
                "type": 3
            },
            {
                "address": "0x0800a392",
                "name": "UARTPrescTable[3]",
                "type": 3
            },
            {
                "address": "0x0800a394",
                "name": "UARTPrescTable[4]",
                "type": 3
            },
            {
                "address": "0x0800a396",
                "name": "UARTPrescTable[5]",
                "type": 3
            },
            {
                "address": "0x0800a398",
                "name": "UARTPrescTable[6]",
                "type": 3
            },
            {
                "address": "0x0800a39a",
                "name": "UARTPrescTable[7]",
                "type": 3
            },
            {
                "address": "0x0800a39c",
                "name": "UARTPrescTable[8]",
                "type": 3
            },
            {
                "address": "0x0800a39e",
                "name": "UARTPrescTable[9]",
                "type": 3
            },
            {
                "address": "0x20000574",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": true,
        "filename": "TESS.elf",
        "exeModifiedTime": 1637657235237,
        "configLastUpdate": 1637664055875
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "wood",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]